.emptyItemStripes {
    $color-1: var(--color-bg-3);
    $color-2: var(--color-bg-4);
    opacity: 0.8;

    background: repeating-linear-gradient(
        45deg,
        $color-1,
        $color-1 10px,
        $color-2 10px,
        $color-2 20px
    );
}

.selectedLanguageAddOption[aria-selected='true'] {
    border-color: var(--color-accent-green);
    background-color: var(--color-bg-4);

    .addIcon {
        display: flex;
        stroke: var(--color-accent-green);
    }

    .addIconCheck {
        display: none;
    }
}

.selectedLanguageRemoveOption[aria-selected='true'] {
    border-color: var(--color-accent-red);
    background-color: var(--color-bg-4);

    .removeIcon {
        display: flex;
        stroke: var(--color-accent-red);
    }

    .removeIconCheck {
        display: none;
    }
}
